@import url(reset.css);

:root {
  --primary-Blue: hsl(223, 87%, 63%);

  --secondary-Pale-Blue: hsl(223, 100%, 88%);
  --secondary-Light-Red: hsl(354, 100%, 66%);

  --nuetral-Gray: hsl(0, 0%, 59%);
  --nuetral-Very-Dark-Blue: hsl(209, 33%, 12%);

  --fs-body: 1.25rem;

  --fw-300: 300;
  --fw-600: 600;
  --fw-700: 700;

  --font-family: "Libre Franklin", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-family: var(--font-family);
  /* font-size: var(--fs-body); */
}

.container {
  margin: 0 1rem;
}
.ping-logo {
  display: block;
  margin: 10rem auto 2rem;
}
.title {
  margin: 2rem 0 1rem;
  color: var(--nuetral-Gray);
  font-weight: var(--fw-300);
}
.title-sub {
  color: var(--nuetral-Very-Dark-Blue);
  font-weight: var(--fw-700);
}
.sub-title {
  margin: 1rem 0;
  color: var(--nuetral-Very-Dark-Blue);
  font-weight: var(--fw-300);
}
/************************* 
form
**************************/
.form-group {
  position: relative;
}
.form-group input {
  border: 2px solid var(--nuetral-Gray);
  outline: transparent;
}

.form-group button {
  border: none;
  cursor: pointer;

  background-color: var(--primary-Blue);
  box-shadow: var(--primary-Blue) 0px 4px 12px;
  color: hsl(0, 0%, 100%);
  font-weight: var(--fw-300);
}
.form-group small {
  font-style: italic;
  font-size: 1rem;
  color: var(--secondary-Light-Red);
}
.form-control {
  padding: 0.5rem;
  border-radius: 20rem;
}

/************************* 
dashboard-image
**************************/
.dashboard-image {
  display: block;
  margin: 3rem auto;
  width: 100%;
  max-width: 500px;
  height: auto;
}

/************************* 
socia-media
**************************/

.socia-media .fa-brands {
  border-radius: 50%;
  cursor: pointer;
  font-size: 0.975rem;
  margin: 0 0.3rem;

  padding: 0.7rem;
  border: 1px solid var(--secondary-Pale-Blue);
  color: var(--primary-Blue);
}

.socia-media .fa-brands:hover {
  background-color: var(--primary-Blue);
  color: hsl(0, 0%, 100%);
}
.copy {
  font-size: 0.813rem;
  margin: 1rem;

  color: var(--nuetral-Gray);
}

/************************* 
footer
**************************/
.attribution {
  font-size: 0.813rem;
}
/************************* 
media query
**************************/
@media only screen and (min-width: 48rem) {
  .title {
    font-size: 2.3rem;
  }
  /************************* 
form
**************************/
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-group input {
    min-width: 300px;
  }
  .form-group button {
    min-width: 150px;
    margin: 0 1rem;
  }
  .form-group small {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 48rem) {
  .ping-logo {
    height: 1.2rem;
    margin: 60vh auto 0;
  }

  /************************* 
form
**************************/
  .form-group {
    display: flex;
    flex-direction: column;
  }

  .form-group button {
    margin: 1rem 0;
  }
  /************************* 
socia-media
**************************/

  .socia-media {
    margin: 10rem 0 0;
  }
}
